@import "../../variables.scss";

.tamilotchi {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.tamilotchi__buttons {
  display: flex;
  justify-content: space-around;
  height: 25%;
  background-color: $menu-bg;
  text-align: center;
  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
  }
  & :nth-child(2) {
    background-color: $menu-bg;
  }
}

.tamilotchi__buttons--active {
    text-shadow: $text-outline;
}

.chicken {
  width: 60px;
}