@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $dark-color;
    list-style: none;
    & a {
        all: unset;
    }
}

html {
    background-image: url("/bg-tama.png");
    background-position: center;
    background-size: cover;
}

