@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $dark-color;
    list-style: none;
}

html {
    background-image: url("../public/bg(white).jpeg");
    background-position: center;
    background-size: cover;
}